.sc-overflow {
  overflow-y: auto;
}

.sc-overflow {
  overflow-y: auto;
  /*Firefox recent uniquement */
  scrollbar-color: #7f7f7f transparent;
  scrollbar-width: thin;
}
.sc-overflow::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
}

.sc-overflow::-webkit-scrollbar {
  width: 6px;
  background-color: #7f7f7f;
}

.sc-overflow::-webkit-scrollbar-thumb {
  background-color: #7f7f7f;
}

.list-group-item:last-child {
}

.list-group-item {
  /*position: relative;*/
  /*display: block;*/
  /*padding: .75rem 1.25rem;*/
  /*margin-bottom: -1px;*/
  background-color: transparent;
  color: rgb(255,255,255);
  /*border: 1px solid rgba(0,0,0,.125);*/
}

